In [1]:
import pandas as pd
file = r"C:\Users\HP\Downloads\World+University+Rankings+2023 (1).csv"
df = pd.read_csv(file)
df.head()

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,United Kingdom,"20,965",10.6,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,United States,"21,887",9.6,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,United Kingdom,"20,185",11.3,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,United States,"16,164",7.1,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,United States,"11,415",8.2,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3

In [2]:
df["No of student"] = df["No of student"].str.replace(",","").astype(int)
df.dtypes
df.isnull().sum()

University Rank                  0
Name of University               0
Location                       162
No of student                    0
No of student per staff          1
International Student            0
Female:Male Ratio               81
OverAll Score                  512
Teaching Score                 512
Research Score                 512
Citations Score                512
Industry Income Score          512
International Outlook Score    512
dtype: int64

In [3]:
df["International Student"] = df["International Student"].str.rstrip("%")
df.rename(columns={"International Student":"Percentage International Student"}, inplace=True)
df.head()

,University Rank,Name of University,Location,No of student,No of student per staff,Percentage International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,United Kingdom,20965,10.6,42,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,United States,21887,9.6,25,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,United Kingdom,20185,11.3,39,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,United States,16164,7.1,24,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,United States,11415,8.2,33,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3

BASIC INSPECTION OF DATA
1 UNIQUE LOACTIONS OF UNIVERSITIES AND HOW THEY ARE DISTRIBUTED IN THE DATASET

In [6]:
value = df.loc[:,"Location"].value_counts()
value.to_csv("location distribution.csv")

In [7]:
#Average number of students per location
average_students_per_location = df.groupby("Location", observed=False).agg({
    "No of student":"mean"}
).round(0).astype(int)
average_students_per_location.to_csv("location average.csv")

In [8]:
#AVERAGE FEMALE TO MALE RATIO
def average_ratio(dataframe, columnname):
    # Split the string column into two new columns
    dataframe[["First", "Second"]] = dataframe[columnname].str.split(":", expand=True)

    # Convert them to numeric (in case they are strings)
    dataframe["First"] = pd.to_numeric(dataframe["First"], errors="coerce")
    dataframe["Second"] = pd.to_numeric(dataframe["Second"], errors="coerce")

    # Now calculate means correctly
    first_mean = dataframe["First"].mean().round(0)
    second_mean = dataframe["Second"].mean().round(0)

    return first_mean, second_mean

female_ratio,male_ratio = average_ratio(df,"Female:Male Ratio")
print(f"{female_ratio}:{male_ratio}")

51.0:49.0

Country Based Analysis

1. What is the average research score for universities in each country?


2. Which countries top(5) have universities with the highest average teaching scores?


3. Are universities in certain countries more international than others?


4. What are the top 5 countries with the highest average citation scores?

In [9]:
#1
aveargeresearch = df.groupby("Location", observed=False).agg({
    "Research Score":"mean"
}).round(0)
aveargeresearch.to_csv("averagereserachpercountry.csv")

In [10]:
#2
mostuni = df.groupby("Location", observed=False).agg({
    "Research Score":"count"
}).round(0)

mostuni.sort_values(by="Research Score", ascending=False).head(5).to_csv("Uni vs researchscore.csv")

In [ ]:
#3
df["Percentage International Student"] = pd.to_numeric(df["Percentage International Student"], errors="coerce")


df_grouped = df.groupby("Location")[["Percentage International Student", "International Outlook Score"]].mean().round(2)
df_grouped = df_grouped.dropna(subset=["Percentage International Student", "International Outlook Score"])
df_grouped.sort_values("Percentage International Student", ascending=False, inplace=True)

correlation = df_grouped["Percentage International Student"].corr(df_grouped["International Outlook Score"])
print(f"Correlation: {correlation:.2f}")


df_grouped.to_csv("international_student_vs_outlook_score.csv")
df_grouped.head()

Correlation: 0.76

,Percentage International Student,International Outlook Score
Location,,
Northern Cyprus,78.00,92.50
Hong Kong,62.00,98.00
United Arab Emirates,51.71,91.45
Luxembourg,51.00,99.40
Switzerland,39.71,93.48

In [ ]:
#3. What are the top 5 countries with the highest average citation scores?
top_countries = df.groupby("Location", observed=False).agg({
    "Citations Score": "mean"
}).round(2).sort_values(by="Citations Score", ascending=False).head(5)
top_countries.to_csv("top_countries_by_citation_score.csv")

5. Which universities have high research scores but relatively low teaching scores?


6. What is the average citation score among the top 10 ranked universities?


7. Which universities have the highest industry income scores?

In [ ]:
#5 Which universities have high research scores but relatively low teaching scores?
researchscore_grouping = lambda x: "High" if x >= 60 else "Low"
df["Research Score Group"] = df["Research Score"].apply(researchscore_grouping)
teaching_score_grouping = lambda x: "High" if x >= 60 else "Low"
df["Teaching Score Group"] = df["Teaching Score"].apply(teaching_score_grouping)

filtered = df[(df["Research Score Group"] == "High") & (df["Teaching Score Group"] == "Low")][["Name of University", "Research Score", "Teaching Score"]]
filtered.to_csv("high_research_low_teaching.csv", index=False)

In [ ]:
#6
df['University Rank'] = pd.to_numeric(df['University Rank'], errors='coerce')
top10 = df[df['University Rank'] <= 10]

average_citation_score = top10['Citations Score'].mean().round(2)
print("Average citation score among top 10 universities:", average_citation_score)

Average citation score among top 10 universities: 98.56

In [ ]:
#7. Which universities have the highest industry income scores?
df_highest  = df.nlargest(10, "Industry Income Score")[["Name of University", "Industry Income Score"]]
df_highest.to_csv("highest_industry_income.csv", index=False)

ðŸ‘©â€ðŸŽ“ Gender and Diversity
8. Which universities have more female students than male?


9. What is the average international outlook score for each country?


10. Which universities have the most gender-balanced student populations?

In [14]:
df[["First", "Second"]] = df["Female:Male Ratio"].str.split(":", expand=True).astype(float)


more_females = df[df["First"] > df["Second"]][["Name of University"]]

# Step 3: Show the result
more_females.to_csv("universities_with_more_females.csv", index=False)

In [15]:
# Group by country and calculate mean international outlook score
df_average_outlook = df.groupby("Location", observed=False).agg({
    "International Outlook Score": "mean"
})

# Drop null values
df_average_outlook = df_average_outlook.dropna()

# Round to 2 decimal places
df_average_outlook = df_average_outlook.round(2)

# Display the result
df_average_outlook.to_csv("average_international_outlook_score.csv")

In [ ]:
#10. Which universities have the most gender-balanced student populations?
df[["First", "Second"]] = df["Female:Male Ratio"].str.split(":", expand=True).astype(float)
equality = df[df["First"] == df["Second"]][["Name of University"]]
equality.reset_index(drop=True, inplace=True)
equality.to_csv("50:50 universities.csv", index=False)

ðŸ› Size & Resources

11. What is the average number of students per university per country?


12. Which universities have the largest student populations?


13. Which universities have the lowest student-to-staff ratios?


14. Which universities have more than 20,000 students and above-average research scores?

In [17]:
#21. What is the average number of students per university per country?
average_students_per_country = df.groupby("Location", observed=False).agg({
    "No of student": "mean"
}).round(0).astype(int)
average_students_per_country.to_csv("average_students_per_country.csv", index=False)

In [20]:
#Which universities have the largest student populations?
largest_population = df.nlargest(1, "No of student")[["Name of University", "No of student","Location"]]
largest_population.to_csv("largest_population.csv", index=False)

In [23]:
#23. Which universities have the lowest student-to-staff ratios?
lowest_student_staff_ratio = df.nsmallest(5, "No of student per staff")[["Name of University", "No of student per staff", "Location"]]
lowest_student_staff_ratio.to_csv("lowest_student_staff_ratio.csv", index=False)

In [34]:
#25. How many universities have more than 20,000 students and above-average research scores?
greater20 =df[(df["No of student"] > 20000) & (df["Research Score"] > df["Research Score"].mean())][["Location", "No of student", "Research Score"]].groupby("Location").count()
greater20.to_csv("no universities_above_20000_students.csv", index=False)

ðŸ” Comparative Questions
29. Which universities perform better in research than in teaching?

In [39]:
#29. Which universities perform better in research than in teaching?
perform = df[df["Research Score"] > df["Teaching Score"]][["Name of University"]].count()
perform.to_csv("countuniversities_perform_better_in_research.csv", index=False)